h1{
    text-align: center;
}


#list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 700px;
    background-color: darkgray;
    border-radius: 10px;
    gap: 10px;
}


#button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


